{%# locals: (page:, current_path:) %}

{% assign root_nav_list = site | nav_tree: 1, include_settings: 'icon' %}
<div class="space-y-1 custom-menu">
  {% for item in root_nav_list %}
    {% if item.children_count > 0 %}
      <div class="min-w-0 max-w-full space-y-2">
        <a
          href="{{ item.path }}"
          data-turbo-frame="main-content-frame"
          data-turbo-action="advance"
          class="flex min-w-0 items-center gap-2.5 text-sm font-semibold line-clamp-1 rounded-lg py-1.5 transition-colors outline-offset-[-1px]"
          :class="channelPathActive('{{ item.path }}', 0, true) ? 'text-primary' : 'text-base-content hover:bg-base-200/60'"
        >{{ item.link_text }}</a>

        {% assign child_page = site.pages[item.path] %}
        {% render 'index/style_two/nav_tree_switch', page: child_page, current_path: current_path %}
      </div>
    {% else %}
      <div>
        <a
          href="{{ item.path }}"
          data-turbo-frame="main-content-frame"
          data-turbo-action="advance"
          x-cloak
          class="flex items-center gap-2 py-1.5 text-sm font-medium transition-colors "
          :class="channelPathActive('{{ item.path }}', 0, true) ? 'text-primary ' : 'text-base-content/80 '"
        >
          {% assign icon_url = item.settings.icon | presence %}
          {% if icon_url %}
            <span class="relative inline-flex size-4 shrink-0 items-center justify-center rounded">
              <img src="{{icon_url}}" alt="" class="size-4 rounded object-cover bg-base-200" loading="lazy" decoding="async" onerror="this.parentElement.remove();" />
            </span>
          {% endif %}
          <div class="flex min-w-0 flex-1 items-start gap-x-2.5">
            <span class="line-clamp-1 hyphens-auto">{{item.link_text}}</span>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>